.content-body{
     
    /* color: white; */
    display: block;
    /* background-color: white; */
    /* border: solid #555555; */
    border-width: 0px 2px 2px 2px;
    margin-top: 0px;
    /* flex-grow:3 ; */
    height: 100%; /*can be anything*/
    width: 100%; /*can be anything*/
    position: relative;
}

img{
    max-height: 100%;  
    max-width: 100%; 
    width: auto;
    height: auto;
    position: absolute;  
    top: 0;  
    bottom: 0;  
    left: 0;  
    right: 0;  
    margin: auto;
    flex: 1;
}