<div class="main-login">
   <!-- <p class="login-p1">Get your FREE WIFI code on your slip when shopping at Zio</p> -->
   <table>
      <tr class="toa">
         <td class="toa-checkbox">
            <input class ="check" type="checkbox" (change)="checked=!checked" checked> 
         </td>
         <td class="toa-agree">
            <p class="login-p1">        
               I  agree to the <a href="#" (click)="onSwitch(true)">Terms of Service and Acceptable Use Polilcy</a>
            </p> 
         </td>
      </tr>
   </table>
      
      
   <div class="voucher">
      <button 
      class="orange-btn"
      [disabled]="checked">
      CONNECT</button>
   </div>
</div>
