.main-login{
    position: relative;
    width: 100%;
    margin-top: 3px;
}

a{
    color: azure;
    text-decoration: underline;
}

.check{
    width: 25px;
    height: 25px;
}

.login-p1{
    color: #333333;
    background-color: #a9a9a9;
    padding: 1px;
    margin: 1px;
}

.orange-btn{
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    font-weight: 600;
    font-size: 1.35rem;
    color: #ffffff;

    background-color: #ff9900;
    width: 80%;
    height: 40px;
    margin: auto;
    display: block;
    margin-top: 10px;
    margin-bottom: 8px;

    border: none;
    border-radius: 10px;
    box-shadow: 4px 4px 3px #333333;
}

.orange-btn:active {
    background-color: #a76501;
    box-shadow: 0px 0px;
    transform: translate(3px,3px);
    color: rgb(148, 138, 138);
}

.orange-btn:disabled{
    box-shadow: 0px 0px 0px #333333;
    background-color:#a77d3e;
    color: rgb(190, 183, 183);
}

table{
    background-color: #a9a9a9;
    width: 100%;
}


.toa-checkbox{
    text-align: right;
    width: 20%;
}

.toa-agree{
    text-align: left;
    padding-right: 20px;
}

a:active{
    color: #525252;
}

a:visited{
    color: #525252;
}