/* Century Gothic */

.main-body{
    margin: auto;
    background-color: rgba(236, 234, 234, 0.568);
    padding: 1%;
    height: auto;
    width: 96%;
    border: 2px transparent white;
    border-radius: 0px 0px 15px 15px;
}

 .logoBack{ 
    background-color: #555555;
    border: 2px transparent white;
    border-radius: 0px 0px 15px 15px;
    height: auto;

} 

.container{
    display: flex;
    flex-direction: column;
    /* background-color: DodgerBlue; */
    
}

.container > div {
    background-color: #f1f1f1;
    width: 100%;
    margin: 1px;
    text-align: center;
    line-height: 150px;
    font-size: 30px;
  }