/* Century Gothic */

.main-body{
    margin: auto;
    background-color: rgba(236, 234, 234, 0.568);
    padding: 1%;
    height: auto;
    width: 96%;
    border: 2px transparent white;
    border-radius: 0px 0px 15px 15px;
    box-shadow: 2px 2px 10px #333333;
}



 .logoBack{ 
    background-color: #5555556e;
    border: 0px solid #555555;
    border-radius: 0px 0px 15px 15px;
    height: auto;
    display: flex;
    flex-direction: column;
    box-shadow: 1px 1px 10px #333333;
} 

/* .container{
    display: flex;
    flex-direction: column;
     background-color: DodgerBlue; 
    
} */

.container > div {
    background-color: #f1f1f1;
    width: 100%;
    margin: 1px;
    text-align: center;
    /* line-height: 150px; */
    font-size: 30px;
  }