/* You can add global styles to this file, and also import other style files */
body{
    background-image: url("assets/images/bg-narrow.png");    
    background-size: cover;
}

p{
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

.orange-btn{
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
    color: #ffffff;

    background-color: #ff9900;
    width: 90%;
    height: 50px;
    margin: auto;
    display: block;

    border: none;
    border-radius: 10px;
}